.cart-container{
    width:300px;
    height:70vh;
    border:solid 1px gray;
    overflow: scroll;
}
.cart{
    width:80%;
    margin:auto;
    height:100%;
}
.cart li{
    width:100%;
    height: auto;
    margin: 3vh 0;
}
.cart li img{
    width:30%;
    height:50px;
    object-fit: cover;
    float:left;
}
.cart li > span{
    float:left;
    width:55%;
}
.product-info{
    color:green;
}
.product-info div{
    margin:5px 0;
}
.btn-remove-product{
    border-radius: 50%;
    border:solid 1px gray;
    color:gray;
    transition: all 0.4s;
}
.btn-view-cart button{
    display: inline-block;
    background:#86ba09;
    width:100%;
    padding:10px;
    color:white;
    text-transform: uppercase;
    border:none;
}
.btn-paid button{
    border:none;
    text-transform: uppercase;
    color:white;
    display: inline-block;
    width:100%;
    padding:10px;
    background:#d26e4b;
}
.btn-remove-product :hover {
    color:black;
}



.clear-fix{
    clear: both;
}