.header-container{
    width:100%;
    margin:auto;
    box-sizing: border-box;
    padding: 20px 10px;
    background: gray;
    color:white;
}
.header-logo{
    width:20%;
    float:left;
    text-align: left;
}
.title{
    width:30%;
    float:left;

}
.menu-right{
    float:left;
    width:50%;
    text-align: right;
    padding-right:20px;
    box-sizing: border-box;
}