.signup-container{
    width:100%;
    margin:auto;
    padding: 40px 0;
}
.form-wrap{
    width:80%;
    margin:auto;
    box-shadow: 2px 2px 13px 0px grey;
    padding: 30px 0
}
.form-title{
    padding-bottom: 10px;
}
.form-wrap table{
    text-align: left;
    width:40vw;
    margin:auto;
}
.form-wrap table tr td{
    padding: 5px;
}
.form-wrap table td input{
    width:300px;
    height:35px;

}
.btn-signup{
    display: inline-block;
    padding: 12px 20px;
    color:white;
    font-weight: bold;
    background:rgb(177, 71, 1);
    border: none;
}