/*header pc*/

.header-pc{
    margin:0 auto;
    box-sizing: border-box;
    padding: 2vh 0;
    border-bottom: solid 2px rgba(0,0,0,0.2);
}
.logo{
    width:12%;
    float:left;
    cursor: pointer;
    text-align: right;
}
.logo span{
    display: inline-block;
    padding:10px;
    color:black;
    font-style: italic;
    font-weight:bold;
    font-size:25px;
}
.navigation{
    width:88%;
    float:left;
}
.nav-left{
    width:83%;
    float:left;
}
.nav-left ul.menu-pc li{
    display: inline-block;
    padding:15px;
    position: relative;
}
.nav-left ul.menu-pc li a{
    text-decoration: none;
    text-transform: uppercase;  
    color:gray;
    font-weight:650;
    font-size: 15px;
}
.nav-left ul.menu-pc li a:hover{
    color:#86ba09;
    transition: all 0.5s;
}

.sub-menu-pc{
    text-align: left;
    width:200px;
    position: absolute;
    top:0;
    left:0;
    display: none;
    border-radius: 5px;
    transform: translateY(40px);
    z-index: 10;
}
.sub-menu-pc >li{
    display: block !important;
    background:white;

}
.sub-menu-pc li:hover{
    background:#dcdcdc;
    transition: all 0.5s;
    cursor: pointer;
}

.sub-menu-pc >li >a{
    text-transform: none !important;
    font-size:17px !important;
}   
.nav-left ul.menu-pc li:hover .sub-menu-pc{
    display: block;
}

.nav-right{
    width:17%;
    float:left;
    text-align: right;
    position: relative;
}
.nav-right span{
    display: inline-block;
    padding:15px;
    cursor: pointer;
}
.nav-right span:hover{
    color:#86ba09;
    transition: all 0.5s;
}
.clearfix{
    clear:both;
}
/*end header pc*/

/*header mobile*/
.nav-mobile{
    width:100%;
    margin:auto;
    text-align:center;
}
.wrap-menu-mobile{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
    transition: all 0.5s;
    background:rgba(0,0,0,0.5);
    display: none;
}
.wrap-menu-mobile span{
    color:white;
    position: absolute;
    top:5px;
    right:5px;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.8;
}
.wrap-menu-mobile span:hover{
    opacity: 1;
}
.menu-mobile{
    padding:40px 0;
    position: absolute;
    top:0;
    left:0;
    width:250px;
    transition: all 0.25s;
    overflow: hidden;
    background: white;
    height:100%;
    z-index:10;
}
.menu-mobile >li{
    text-align: left;
    border-bottom: solid 0.2px #dcdcdc;
}
.menu-mobile li a{
    display: inline-block;
    text-decoration: none;
    color:gray;
    text-transform: uppercase;
    padding:12px;
    width:80%;
}
.menu-mobile li:hover{
    background:#dcdcdc;
    cursor: pointer;
}
.icon-menu{
    width:5%;
    float:left;
    cursor: pointer;
}
.icon-menu span{
    display: inline-block;
    padding:5px;
    font-size: 20px;
}
.logo-mobile{
    float:left;
    width:50%;
    text-align: right;
}
.logo-mobile span{
    display: inline-block;
    padding:10px;
}
.nav-mobile-right{
    float:left;
    width:45%;
    text-align: right;
}
.nav-mobile-right span{
    display: inline-block;
    padding:10px;
}
.nav-mobile-right span:hover{
    color:#86ba09;
    transition: all 0.5s;
    cursor: pointer;
}
.sub-menu-mobile{
    display: none;
    padding-left:10px;
}
.sub-menu-mobile li{
    margin-left:-40px;
    width:120%;
    text-indent: 20px;
}
.sub-menu-mobile li a{
    text-transform: none;
    font-size: 18px;

}
.sub-menu-mobile li :hover{
    background:#86ba09;
    transition: all 0.25s;
    color:white;
    padding-left:20px;
}
.icon-drop-menu{
    padding:5px;
    opacity: 0.8;
    font-size:16px;
}
.icon-drop-menu:hover{
    opacity: 1;
}
/*end header mobile*/

/*responsive*/
@media screen and (max-width:1000px)
{
    .nav-right span{
        padding: 15px 10px;
    }
    .nav-left ul.menu-pc li{
        padding: 15px 10px;
    }
}
/*end responsive*/