.carousel-container{
    width:100%;
    overflow: hidden;
    position: relative;
}
.carousel{
    height:80vh;
    transition: all 0.5s;
}

.slide-item{
    height:80vh;
    float:left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.slide-title{
   text-align: left;
   margin-top:30vh;
   padding-left:15vw;
   color:white;
   font-size: 30px;
   margin-bottom: 10px;
   font-weight: bold;
   text-shadow: 1px 0 1px goldenrod;
}
.slide-content{
    text-align: left;
    padding-left:15vw;
    color:white;
    font-size: 25px;
    text-shadow: 1px 0 1px red;
}

.arrow-control{
    z-index:1;
    position: absolute;
    top:40%;

}
.arrow-control.left{
    left:30px;
}
.arrow-control.right{
    right:30px;
}
.arrow-control span{
    display: inline-block;
    padding:15px;
    border-radius: 50%;
    color:white;
    background:#17ef14;
    cursor: pointer;
    transition: all 0.5s;
    border: solid 2px #17ef14;
}
.arrow-control span:hover{
    color:#17ef14;
    background:white;
}

.dot-control{
    width:100%;
    text-align: center;
    position: absolute;
    left:0;
    bottom:2%;
    height: 20px;
}
.dot-control > .dot{
    display: inline-block;
    width:14px;
    height:14px;
    border: solid 1.5px #de2828;
    border-radius: 50%;
    margin:4px;
    background:white;
    cursor: pointer;
}
.dot-control .dot:hover{
    transition: all 0.5s;
    background:#de2828;
}
.active{
    background:#de2828 !important ;
}

.clear-fix{
    clear:both;
}


/*----responsive-----------*/

@media screen and (max-width: 700px){
    .slide-item{
        text-align: center;
    }
    .slide-title{
        text-align: center;
        padding:0;
    }
    .slide-content{
        text-align: center;
        padding: 0;
    }
    .arrow-control{
        top:45%;
    }
    .arrow-control span{
        padding:5px;
    }
    .arrow-control span{
       padding:5px;
    }
    .dot-control > .dot{
      
        width:10px;
        height:10px;
        
    }
}

