.footer-container{
    background: #2d3f53;
    color: white;
    margin-bottom: 3vh;
}
.footer-left{
    float:left;
    width:40%;
    padding-bottom: 2vh;
}
.footer-left ul{
    padding-left:10vw;
    padding-top:4vh;
    line-height: 1.8;
}
.footer-left ul li{
    text-align: left;
}
.footer-right{
    float:right;
    width:60%;
    padding-bottom: 4vh;
}
.footer-right .menu{
    float:left;
    width: 50%;
    text-align: left;
    padding-top:4vh;
    padding-left:10vw;
}
.footer-right .product{
    float:left;
    text-align: left;
    padding-top:4vh;
}
.footer-right li{
    line-height: 1.8;
}

.footer-bottom{
    background:white;
    color:gray;
    padding:4vh 2vh 2vh 2vh;
}

.clear-fix{
    clear:both;
}


/*-=--responsive-------------*/
@media screen and (max-width:700px){
    .footer-left{
        width:100%;
    }
    .footer-right{
        background:#e9e2d3;
        color: #272728;
        width: 100%;
    }
}