.form-input{
    width:80%;
    margin:auto;
    margin-top:10px;
    box-shadow:-3px 3px 21px -3px grey;
    padding:20px 0;
    margin-bottom: 10px;
}
.form-input >div{
    margin: 20px 0;
}
.btn-submit{
    text-align: center;

}
.btn-submit button{
    margin-left: -58px;
    padding:10px 18px;
    font-weight: bold;
    color:white;
    background:orange;
    border:none;
}
.form-title{
    font-size:22px;
    font-weight: bold;
}
.input input{
    width:250px;
    border:solid 1px gray;
    height:35px;
}
.message{
    color:green;
    font-size:17px;

}
